<h2>Cadastro de Usuário</h2>

<form [formGroup]="dadosUsuarioForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
          <mat-label>Nome</mat-label>
          <input matInput formControlName="name" required maxlength="100">
          <mat-error *ngIf="dadosUsuarioForm.controls['name'].hasError('required') ||
                            dadosUsuarioForm.controls['name'].hasError('maxLength')">
          O nome é obrigatório e deve ter no máximo 100 caracteres.
          </mat-error>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Profissão</mat-label>
        <mat-select formControlName="job">
          <mat-option>Selecione uma profissão</mat-option>
          <mat-option value="desenvolvedor">Dev</mat-option>
          <mat-option value="analista">Analista</mat-option>
          <mat-option value="gerente">Gerente</mat-option>
          <mat-option value="outro">Outro</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <button mat-raised-button color="primary" [disabled]='!dadosUsuarioForm.valid'>Enviar</button>
    </div>
</form>
